<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TITANIC ML</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

     <!-- Installing for drop-down menu  -->
    <!-- jQuery (required for Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Popper.js (required for Bootstrap dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">


</head>

<body>
 <!-- Main Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="../templates/index.html">Diabetes Predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- Second, Smaller Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light smaller-navbar">
        <div class="collapse navbar-collapse" id="secondNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dashboards
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../templates/tableau_hannah.html">Dashboard 1</a>
                        <a class="dropdown-item" href="../templates/tableau_thripura.html">Dashboard 2</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/about_us.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/works_cited.html">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>Works Cited</h1>
    
</body>

</html>
